.page-title {
    position: fixed;
    top: 70px;
    right: 30px;
    color: #403233;
    font-size: 30px;
}

/* .editor-container {
    top: 60px;
    left: 50px;
    width: 1400px;
    height: 675px;
    position: absolute; 
    border: 2px dashed red;
}  */

.editor-overlay {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border: 2px dashed red;
}

.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 0;
    background: linear-gradient(to bottom, #424242 5%, #707070 100%);
    background-color: #424242;
    border: 2px solid #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    font-family: Arial;                      
    font-size: 12px;
    font-weight: bold;
    top: -20px;
	right: -20px;
}