h2 {
    color: #403233;
    margin-top: 0;
}

.create-album-button-container {
    margin-bottom: 25px;
}

.create-album-button {
    color: white;
    background-color: #403233;
    border-radius: 0; 
}

.album-carousel {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

.album-card {
    background-color: white;
    max-width: 200px;
    height: 300px;
    padding: 20px;
    border: 1px solid #B99179;
}

.album-card img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}

.album-card-title {
    color: #403233;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.album-card-date {
    color: #403233;
}

