.album-carousel {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

.album-card {
    background-color: white;
    max-width: 200px;
    height: 300px;
    padding: 20px;
    border: 1px solid #B99179;
}

.album-card img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}

.album-card-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

